@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: slategray;
}

.navbar {
    display: flex;
    min-height: 100px;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
}

.navbar .db {
    color: aliceblue;
    font-family: "Limelight", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

.navbar ul {
    display: flex;
    gap: 1rem;
}

.navbar ul li {
    list-style: none;
}

.navbar button {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
}

.navbar .log-option {
    background: transparent;
    border-radius: 14px;
    padding: 8px 15px;
    color: #222;
    border: 1.4px solid #222;
}

.navbar #theme-toggle {
    background-color: transparent;
    border-radius: 50%;
    border: 1.4px solid black;
    padding: 8px 10px;
    color: #222;
}

.log-option:hover {
    border: 1.4px solid whitesmoke;
    color: whitesmoke;
}

.full-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 1rem auto;
    padding: 1rem;
    gap: 1rem;
}

.top-panel-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.panels {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    border: 1.4px solid #333;
    padding: 10px 20px;
    width: 380px;
    height: 160px;
}

.panels h3 {
    font-size: 1.3rem;
    font-family: "Limelight", sans-serif;
    color: bisque;
}


.scrollable-table-wrapper {
    width: 100%;
    max-height: 150px;
}

.scroll-body::-webkit-scrollbar {
    display: none;
}

.proj-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.proj-table th,
.proj-table td {
    padding: 12px;
    font-size: 10px;
    /* border: none; */
    text-align: left;
}

.scroll-body {
    max-height: 75px;
    overflow-y: auto;
}

.body-only {
    display: block;
}

.body-only tbody {
    display: block;
    width: 100%;
}

.body-only tr,
.header-only tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 1px solid #ccc;
}

.github-widget-sec p a {
    text-decoration: none;
    font-size: 12px;
    color: beige;
    cursor: pointer;
}

.bottom-cont {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    width: 1200px;
    justify-content: space-between;
}

.tt-cont {
    border-radius: 24px;
    border: #222 1.4px solid;
    padding: 10px 20px;
    width: 790px;
    height: 360px;
}

.tt-cont h2 {
    font-size: 2rem;
    font-family: "Limelight", sans-serif;
    color: bisque;
}

.days ul {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-between;
}

.days ul li {
    list-style: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
}

.classes {
    padding: 20px 20px;
}

.class {
    border: #222 1.1px solid;
    border-radius: 24px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 150px;
}

.sub-name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

.timing {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

#dropdown-btn {
    cursor: pointer;
}

select {
    -webkit-appearance: none;  
    -moz-appearance: none;     
    appearance: none;          
    background: none;
    background-color: white;
    padding: 5px;
    margin-top: 4px;
    border-radius: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
}

.side-cont {
    border: #222 solid 1.4px;
    border-radius: 24px;
    height: 360px;
    width: 380px;
    padding: 8px 8px;
}

.overall-atc {
    border: #222 solid 1.1px;
    border-radius: 14px;
    padding: 8px 10px;
}

.overall-atc h3 {
    font-family: "Limelight", sans-serif;
    font-size: 1.4rem;
    color: bisque;
}

.sub-atc ul {
    border: #222 solid 1.1px;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 10px;
}

.sub-atc{
    margin-top: 3px;
}

.sub-atc ul li {
    list-style: none;
}

.status {
    border: #222 solid 1px;
    border-radius: 12px;
    padding: 6px;
}
