@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(0,0,0,1);
}

body {
    font-family: "Poppins", serif;
    background: rgb(238, 174, 202);
    background: radial-gradient(circle,
            #6d90b9 0%,
            #bbc7dc 100%);
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    min-height: 100px;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.navbar .db {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

.navbar ul {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.navbar ul li {
    list-style: none;
}

.navbar button {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
}

.navbar .log-option {
    cursor: pointer;
    background: transparent;
    border-radius: 14px;
    padding: 8px 15px;
    color: #000000;
    border: 1.4px solid #222;
}

.log-option:hover, #upload:hover {
    border: 1.4px solid whitesmoke;
    color: whitesmoke;
}

#upload {
    background-color: transparent;
    border-radius: 14px;
    border: 1.4px solid #222;
}

#upload i {
    color: black;
    padding: 12px 15px;
    cursor: pointer;
    font-size: 1rem;
}

#upload i:hover {
    color: whitesmoke;
}

.full-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
    gap: 1rem;
}

.top-panel-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.panels {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    padding: 10px 20px;
    width: 380px;
    height: 200px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border: 1.4px solid rgba(0, 0, 0, 0.18);
}

.panels h3 {
    font-size: 1.3rem;
    /* font-family: "Limelight", sans-serif; */
    /* color: rgba(121, 65, 152, 0.863); */
}


.scrollable-table-wrapper {
    width: 100%;
    max-height: 150px;
}

.scroll-body::-webkit-scrollbar {
    display: none;
}

.proj-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.proj-table th,
.proj-table td {
    position: relative;
    right: 10px;
    padding: 16px;
    font-size: 10px;
    text-align: left;
}

.scroll-body {
    max-height: 75px;
    overflow-y: auto;
}

.body-only {
    display: block;
}

.body-only tbody {
    display: block;
    width: 100%;
}

.body-only tr,
.header-only tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 1px solid #ccc;
}

.status {
    border: #333 solid 1px;
    border-radius: 4px;
    padding: 6px;
}

.github-widget-sec p a {
    text-decoration: none;
    font-size: 16px;
    color: #717476;
    cursor: pointer;
}

.image_crop_cont {
    width: 300px;
    height: 90px;
    overflow: hidden;
    position: relative;
    bottom: 5%;
    left: 5.5%;
    top: 30px;
}

.image_crop_cont img {
    position: absolute;
    height: 100%;
    right: 0;
    top: -11px;
    filter: hue-rotate(90deg) saturate(30%) brightness(1.05);

}


.bottom-cont {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    width: 1200px;
    justify-content: space-between;
}

.tt-cont {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border: 1.4px solid rgba(0, 0, 0, 0.18);
    border-radius: 24px;
    padding: 10px 20px;
    width: 790px;
    height: 363px;
}

.tt-cont h2 {
    font-size: 2rem;
    /* font-family: "Limelight", sans-serif; */
    /* color: rgba(121, 65, 152, 0.863); */
}

.days ul {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    justify-content: space-between;
}

.days ul li {
    list-style: none;
    font-size: 12px;
}

.classes {
    padding: 20px 20px;
}

.class {
    position: relative;
    top: 25px;
    border-radius: 24px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 150px;
    box-shadow: 0 0 15px 0 rgba(31, 38, 135, 0.37);
    border: 1.4px solid rgba(0, 0, 0, 0.18);
}

.sub-name {
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 25px;
}

.timing {
    /* font-family: 'Times New Roman', Times, serif; */
    font-size: 16px;
}

#dropdown-btn {
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    background-color: white;
    padding: 5px;
    margin-top: 4px;
    border-radius: 10px;
    font-size: 12px;
    border: 1px solid #ccc;
}

.side-cont {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border: 1.4px solid rgba(0, 0, 0, 0.18);
    border-radius: 24px;
    height: 363px;
    width: 380px;
    padding: 8px 8px;
    overflow-y: auto;
}

.side-cont::-webkit-scrollbar {
    display: none;
}

.overall-atc {
    border: #333 solid 1.1px;
    border-radius: 14px;
    padding: 8px 10px;
}

.atc-desc {
    border: #333 solid 1.1px;
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 10px;
}

.atc-desc .sub {
    font-weight: 500;
    text-decoration: none;
    text-align: left;
    flex: 1;
}

.atc-desc .sub:hover {
    color: rgb(44, 61, 105);
} 

.atc-desc .present {
    text-align: center;
    flex: 1;
}

.atc-desc .percentage {
    text-align: right;
    flex: 1;
}

.sub-atc {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
