@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: slategray;
}

.navbar {
    display: flex;
    min-height: 100px;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
}

.navbar .db {
    color: aliceblue;
    font-family: "Limelight", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
}

.navbar ul {
    display: flex;
    gap: 1rem;
}

.navbar ul li {
    list-style: none;
}

.navbar button {
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    cursor: pointer;
}

.navbar .log-option {
    background: transparent;
    border-radius: 14px;
    padding: 8px 15px;
    color: #222;
    border: 1.4px solid #222;
}

.navbar #theme-toggle {
    background-color: transparent;
    border-radius: 50%;
    border: 1.4px solid black;
    padding: 8px 10px;
    color: #222;
}

.log-option:hover {
    border: 1.4px solid whitesmoke;
    color: whitesmoke;
}

.full-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 1rem auto;
    padding: 1rem;
    gap: 1rem;
}

.horz-cont {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.top-panel-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.panels {
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    border: 1.4px solid #333;
    padding: 10px;
    width: 310px;
    height: 160px;
}

.panels h3 {
    font-size: 1.3rem;
    font-family: "Limelight", sans-serif;
    color: bisque;
}

.scrollable-table-wrapper {
    width: 100%;
    max-height: 150px;
}

.scroll-body::-webkit-scrollbar {
    display: none;
}

.proj-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.proj-table th,
.proj-table td {
    padding: 12px;
    font-size: 10px;
    border: none;
    text-align: left;
}

.scroll-body {
    max-height: 75px;
    overflow-y: auto;
}

.body-only {
    display: block;
}

.body-only tbody {
    display: block;
    width: 100%;
}

.body-only tr,
.header-only tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    border-bottom: 1px solid #ccc;
}

.github-widget-sec p a {
    text-decoration: none;
    font-size: 12px;
    color: beige;
    cursor: pointer;
}