{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedulair</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
</head>

<body>
    <header>
        <nav class="navbar">
            <label class="db">Dashboard</label>
            <ul>
                {% if user.is_authenticated %}
                    <li class="log-option" style="padding: 0.5rem 1rem;">{{ user.username }}</li>
                {% else %}
                    <li><button class="log-option" onclick="login_func()">Sign-in</button></li>
                {% endif %}
                    <li><button id="upload" onclick=upload_func()><i class="fa-solid fa-arrow-up-from-bracket"></i></button></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="full-container">
            <div class="top-panel-container">

                <div class="panels">
                    <section class="assignment-sec">
                        <h3>Assignments</h3>
                        <div class="scrollable-table-wrapper">
                            <table class="proj-table header-only">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Subject</th>
                                        <th>Due Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                            </table>

                            <div class="scroll-body">
                                <table class="proj-table body-only">
                                    <tbody>
                                        {% for assignment in assignments %}
                                        <tr>
                                            <td>{{ assignment.name }}</td>
                                            <td>{{ assignment.subject }}</td>
                                            <td>{{ assignment.submission_date }}</td>
                                            <td><span class="status">
                                                    {% if assignment.completed %}
                                                    Completed
                                                    {% else %}
                                                    Incomplete
                                                    {% endif %}
                                                </span></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </section>
                </div>

                <div class="panels">
                    <section class="project-sec">
                        <h3>Projects</h3>
                        <div class="scrollable-table-wrapper">
                            <table class="proj-table header-only">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Start Date</th>
                                        <th>Due Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                            </table>

                            <div class="scroll-body">
                                <table class="proj-table body-only">
                                    <tbody>
                                        {% for project in projects %}
                                        <tr>
                                            <td>{{ project.name }}</td>
                                            <td>{{ project.start_date }}</td>
                                            <td>{{ project.deadline }}</td>
                                            <td><span class="status">
                                                    {% if project.completed %}
                                                    Completed
                                                    {% else %}
                                                    Incomplete
                                                    {% endif %}
                                                </span></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="panels">
                    <section class="github-widget-sec">
                        <h3>Github Contributions</h3>
                        <div class="image_crop_cont">
                            <img src="https://ghchart.rshah.org/Anshul-Bhau" alt="GitHub contribution chart" />
                        </div>
                    </section>
                </div>
            </div>

            <div class="bottom-cont">
                <div class="tt-cont">
                    <h2>Class Schedule</h2>
                    <div class="time-table">
                        <div class="days">
                            <ul>
                                {% for day in week_days %}
                                    {% if day == current_day %}
                                        <li style="border-bottom: solid 2px;">{{ day }}</li>
                                    {% else %}
                                        <li>{{ day }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="classes">
                            {% for class in current_date_tt %}
                            <div class="class">
                                <p class="sub-name">{{ class.class_name }}</p>
                                <p class="timing">{{ class.start_time }} - {{ class.end_time }}</p>
                                <label for="atc-status" id="dropdown-btn">Status <i
                                        class="fa-solid fa-angle-down"></i></label>
                                <form action="" method="get">
                                    <div class="select-wrapper">
                                        <input type="hidden" name="class_id" value="{{ class.id }}">
                                        <select name="status" class="atc-status" id="slect" onchange="this.form.submit()" style="display: none;">
                                            <option value="">Select</option>
                                            <option value="attended">Attended</option>
                                            <option value="cancelled">Cancelled</option>
                                            <option value="absent">Absent</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="side-cont">
                    <div class="overall-atc">
                        <h3>Overall Attendance</h3>
                        <p>{{ overall_per|floatformat:2 }}&nbsp;%</p>
                    </div>
                    <div class="sub-atc-cont">
                        <div class="sub-atc">
                            {% for subject, stats in attendances.items %}
                            <div class="atc-desc">
                                <a class="sub" href="{% url 'subject_calender' subject %}">{{ subject }}</a>
                                <p class="present">{{ stats.present_count }}/{{ stats.total }}</p>
                                <p class="percentage">{{ stats.percentage }}%</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="saveModal" class="modal hidden">
        <div class="modal-content">
            <span class="close-button" onclick="closeSaveModal()">&times;</span>
            <h2 id="save_heading">Upload the csv/xsls file of time-table</h2>
            <form id="saveRecipeForm" method="POST" action="">
                {% csrf_token %}
                <input type="file" name="file-input" id="file-input" accept=".csv, .xsls" required>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
    </main>
</body>
<script>
    document.getElementById("dropdown-btn").addEventListener("click", () => {
        const select = document.getElementById("slect");
        if (select.style.display === "none" || select.style.display === "") {
            select.style.display = "block";
        } else {
            select.style.display = "none";
        }
    });

    function login_func() {
        window.location.href = "/login"
    }

</script>

</html>