{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedulair</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="{% static '/css/dashboard.css' %}">
</head>

<body>
    <header>
        <nav class="navbar">
            <label class="db">Dashboard</label>
            <ul>
                <li><button class="log-option" onclick=login_func()>Sign-in</button></li>
                <li><button id="theme-toggle"><i class="fa-solid fa-moon"></i></button></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="full-container">
            <div class="top-panel-container">

                <div class="panels">
                    <section class="assignment-sec">
                        <h3>Assignments</h3>
                        <div class="scrollable-table-wrapper">
                            <table class="proj-table header-only">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Subject</th>
                                        <th>Due Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                            </table>

                            <div class="scroll-body">
                                <table class="proj-table body-only">
                                    <tbody>
                                        {% for assignment in assignments %}
                                        <tr>
                                            <td>{{ assignment.name }}</td>
                                            <td>{{ assignment.subject }}</td>
                                            <td>{{ assignment.submission_date }}</td>
                                            <td><span class="status">
                                                    {% if assignment.completed %}
                                                    Completed
                                                    {% else %}
                                                    Incomplete
                                                    {% endif %}
                                                </span></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </section>
                </div>

                <div class="panels">
                    <section class="project-sec">
                        <h3>Projects</h3>
                        <div class="scrollable-table-wrapper">
                            <table class="proj-table header-only">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Start Date</th>
                                        <th>Due Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                            </table>

                            <div class="scroll-body">
                                <table class="proj-table body-only">
                                    <tbody>
                                        {% for project in projects %}
                                        <tr>
                                            <td>{{ project.name }}</td>
                                            <td>{{ project.start_date }}</td>
                                            <td>{{ project.deadline }}</td>
                                            <td><span class="status">
                                                    {% if project.completed %}
                                                    Completed
                                                    {% else %}
                                                    Incomplete
                                                    {% endif %}
                                                </span></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="panels">
                    <section class="github-widget-sec">
                        <h3>Github Contributions</h3>
                        <div class="image_crop_cont">
                            <img src="https://ghchart.rshah.org/Anshul-Bhau" alt="GitHub contribution chart" />
                        </div>
                    </section>
                </div>
            </div>

            <div class="bottom-cont">
                <div class="tt-cont">
                    <h2>Class Schedule</h2>
                    <div class="time-table">
                        <div class="days">
                            <ul>
                                <li>Monday</li>
                                <li>Tuesday</li>
                                <li>Wednesday</li>
                                <li>Thursday</li>
                                <li>Friday</li>
                                <li>Saturday</li>
                            </ul>
                        </div>

                        <div class="classes">
                            {% for class in current_date_tt %}
                            <div class="class">
                                <p class="sub-name">{{ class.class_name }}</p>
                                <p class="timing">{{ class.start_time }} - {{ class.end_time }}</p>
                                <label for="atc-status" id="dropdown-btn">Status <i
                                        class="fa-solid fa-angle-down"></i></label>
                                <div class="select-wrapper">
                                    <select name="atc-status" class="atc-status" id="slect" style="display: none;">
                                        <option value="attended">Attended</option>
                                        <option value="cancelled">Cancelled</option>
                                        <option value="absent">Absent</option>
                                    </select>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="side-cont">
                    <div class="overall-atc">
                        <h3>Overall Attendance</h3>
                        <p>{{ overall_per }}%</p>
                    </div>
                    <div class="sub-atc-cont">
                        <div class="sub-atc">
                            {% for subject, stats in attendances.items %}
                            <div class="atc-desc">
                                <a class="sub" href="{% url 'subject_calender' subject %}">{{ subject }}</a>
                                <p class="present">{{ stats.present_count }}/{{ stats.total }}</p>
                                <p class="percentage">{{ stats.percentage }}%</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script>
    document.getElementById("dropdown-btn").addEventListener("click", () => {
        const select = document.getElementById("slect");
        if (select.style.display === "none" || select.style.display === "") {
            select.style.display = "block";
        } else {
            select.style.display = "none";
        }
    });

    function login_func() {
        window.location.href = "/login"
    }

</script>

</html>