{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/calender.css' %}">
    <title>Calender</title>
</head>

<body>
    <div class="header">
        <a id="prev" href="{% url 'subject_calender' subject %}?month={{ prev_month }}&year={{ prev_year }} ">&larr;</a>
        <h1>{{ month_name }}/{{ year }}</h1>
        <a id="next" href="{% url 'subject_calender' subject %}?month={{ next_month }}&year={{ next_year }}">&rarr;</a>
    </div>
    <aside>
        <div class="side-panel">
            <div class="title">
                <h2>Subjects</h2>
            </div>

            <div class="subj-list-cont">
                <ul class="side-list">
                    {% for sub in subjects %}
                    <li data-title="{{ sub }}" class="{% if sub == subject %}active-subject{% endif %}">
                        <a href="{% url 'subject_calender' sub %}">{{ sub }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="back">
                <button onclick=back_func()>&larr;&nbsp;Back</button>
            </div>
        </div>
    </aside>

    <div class="calender">
        <div class="day-list">
            <ul>
                <li>Mon</li>
                <li>Tues</li>
                <li>Wed</li>
                <li>Thurs</li>
                <li>Fri</li>
                <li>Sat</li>
                <li>Sun</li>
            </ul>
        </div>
        <ul class="calender-list">
            {% for day in days %}
                {% if day is none %}
                    <li class="empty" style="background: none; box-shadow: none; border: none;"></li>
                {% else %}
                        {% with date=day.0 status=day.1 %}
                            {% if status == "No Class" %}
                            <li style="background-color: rgb(0, 0, 0, 0.3);"><time>{{ date.day }}</time>{{ status }}</li>
                            {% elif status == "Attended" %}
                            <li style="background-color: rgba(0, 255, 35, 0.25);"><time>{{ date.day }}</time>{{ status }}</li>
                            {% elif status == "Missed" %}
                            <li style="background-color: rgba(255, 0, 0, 0.25);"><time>{{ date.day }}</time>{{ status }}</li>
                            {% elif status == "Exam" %}
                            <li style="background-color: rgba(211, 113, 191, 0.47);"><time>{{ date.day }}</time>{{ status }}</li>
                            {% elif status == "Holiday" %}
                            <li style="background-color: rgba(72, 164, 174,  0.47);"><time>{{ date.day }}</time>{{ status }}</li>
                            {% endif %}
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </ul>
    </div>

</body>
<script>
    function back_func() {
        window.location.href = "/dashboard"
    }
</script>

</html>